<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <title></title>
</head>
<body>
<% include ../common/header.ejs %>
<h1><%= content %></h1>
<% include ../common/footer.ejs %>
</body>
</html>